{% extends "base.html" %}
{% load static %}
{% block active %} active {% endblock %}
{% block content %}

  <!-- Page Content -->
  <div class="container">
     <h1>Create New Account</h1>
      {% if error_message %}
      <p><strong>{{ error_message }}</strong></p>
      {% endif %}
      <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="album" value="{{ album }}">
          {% include 'register/form_template.html' %}
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success">Submit</button>
              </div>
          </div>
      </form>
    <!-- /.row -->


  <!-- /.container -->


{% endblock %}